# ============================================
# Environment / Secrets
# ============================================

.env
.env.*
!.env.example


# ============================================
# Node / React
# ============================================

frontend/node_modules/
frontend/dist/
frontend/.vite/


# ============================================
# Go
# ============================================

backend/*.exe
backend/spendwise-backend
backend/tmp/


# ============================================
# Go environment files
# ============================================

backend/.env


# ============================================
# Logs
# ============================================

*.log


# ============================================
# Operating System
# ============================================

.DS_Store
Thumbs.db


# ============================================
# IDE
# ============================================

.vscode/
.idea/


# ============================================
# Docker
# ============================================

*.tar